* {
    background-color: lightblue;
}

.title, 
.recipe-list {
    margin: auto;
}
.title {
    font-size: 40px;
    font-family: Helvetica, "Times New Roman", sans-serif;
    text-align: center;

}

.recipe-list {
    border: 1px dotted black;
    width: 300px;
    font-family: "Times New Roman", serif;
    font-size: 30px;
    line-height: 2;
    background: rgb(173, 198, 230);
    text-align: left;
}



a {
    text-decoration: none;
}