* {
    background-color: lightblue;
}

.title,
.recipe-list {
    margin: 0 auto;
    max-width: 260px;
}

.title {
    font-family: Helvetica, "Times New Roman", sans-serif;
    text-align: center;
}

.recipe-list {
    font-family: "Times New Roman", serif;
    line-height: 1;
}

a {
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0 auto;
    background-color: hsl(195, 43%, 59%);
    color: hsl(195, 53%, 95%);
}

img {
    width: 250px;
    height: auto;
    margin-bottom: 5px;
}

.recipe-title {
    margin-bottom: 5px;
    background-color: hsl(196, 42%, 59%);
    padding: 10px 0;
}