* {
    text-align: center;
    background-color: lightblue;
}

img {
    width: 375px;
    height: auto;
}

ul,
ol {
    display: inline-block;
}

li,
.description {
    text-align: left;
    font-size: 18px;
}

.steps,
.description {
    width: 400px;
    margin: auto;
}






